<?xml version="1.0"?> 
<odoo>
    <!-- abrir lista-->
    <act_window id="action_lista_tareas"
    name="Lista de tareas"
    res_model="tareas.pend"
    view_mode="tree,form" />
    
    <!-- item del menu-->
    <menuitem id="menu_lista_tareas"
    name="Tareas"
    action="action_lista_tareas" />
</odoo>